POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=courses
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
JWT_SECRET=a99a569f7b403f04d8200a74a4f4cc0be4d20601c2dc79d8c654af6d943d5000
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
REDIS_HOST=redis
REDIS_PORT=6379
OTEL_METRICS_EXPORTER=otlp
OTEL_TRACES_SAMPLER=parentbased_always_on #dev
OTEL_TRACES_EXPORTER=otlp
OTEL_LOGS_EXPORTER=none
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_METRIC_EXPORT_INTERVAL=15000
OTEL_INSTRUMENTATION_MICROMETER_ENABLED=true
SPRING_APPLICATION_NAME=online-course-system
