POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
JWT_SECRET=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=
RABBITMQ_PORT=
REDIS_HOST=
REDIS_PORT=
OTEL_METRICS_EXPORTER=
OTEL_TRACES_EXPORTER=
OTEL_LOGS_EXPORTER=
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_PROTOCOL=
OTEL_METRIC_EXPORT_INTERVAL=
OTEL_INSTRUMENTATION_MICROMETER_ENABLED=
SPRING_APPLICATION_NAME=
